@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;

@tailwind utilities;
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

:root {
  --white: #ffffff;
  --fontFamily: 'Mulish';
  --color2: #458ff6;
  --black: #000000;
  --lightgrey: #7d7987;
  --color4: #504a4b;
  --hoverColor: #f1f1f1;
  --hoverBorder: #ababab;
}

.required-field {
  content: '*';
  color: red;
}

.preview h1 {
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--fontFamily);
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
  word-wrap: break-word;
  border-bottom: 1px solid #eaecef;
}

.preview p {
  margin-bottom: 16px;
}

.preview h2,
.preview h3 {
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--fontFamily);
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
  padding-bottom: 0.3em;
  word-wrap: break-word;
  border-bottom: 1px solid #eaecef;
}

.preview a {
  box-sizing: border-box;
  color: var(--color2);
  cursor: pointer;
  font-family: var(--fontFamily);
  line-height: 24px;
  text-decoration: none;
  word-wrap: break-word;
}

.css-jfmqij {
  min-height: 100vh;
}

.css-1cn0onx {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 240px;
  padding-bottom: 120px;
  overflow: hidden;
}

.css-vxjceb {
  position: relative;
  top: 60px;
}

.css-rqgsqp {
  position: relative;
  z-index: 1;
}

.css-1j30mgn {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  min-width: 645px;
  min-height: 172px;
  margin: 0 8px;
}

.css-1sm1hxh {
  color: var(--black);
  font-weight: 900;
  font-size: 3.8125rem;
  line-height: 1.1967213;
  letter-spacing: -0.022rem;
  margin-bottom: 16px;
  white-space: nowrap;
}

.css-z456g3 {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.017rem;
  font-family: var(--fontFamily);
  font-weight: 400;
  margin-bottom: 48px;
  color: var(--color4);
}

.css-1w1veeg {
  color: var(--white);
  height: 48px;
  padding: 0 32px;
  font-size: 1.125rem;
  line-height: 1.5555556;
  letter-spacing: -0.014rem;
  display: inline-flex;
  align-items: center;
  box-shadow: var(--lightgrey);
  background: var(--color4);
  border-radius: 10px;
}

.css-1w1veeg:hover {
  opacity: 0.8;
}

.headerText:hover {
  background-color: var(--hoverColor);
  border-radius: 4px;
  border-color: var(--hoverBorder);
  color: var(--black);
  /* border-width: 1px; */
}

.headerText {
  color: var(--black);
}

.css-kuruz1 {
  text-decoration: none;
  cursor: pointer;
  padding: 0 16px;
  height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
}

.css-f3dkuz {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 25%;
}

.container-main {
  max-width: 20%;
  float: left;
  height: 100vh;
  background: var(--hoverColor);
  overflow: hidden;
  border-right: 1px solid var(--color4);
}

.css-jn5ppe {
  height: 100%;
  width: 100%;
  padding-bottom: 36px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.css-1u2eykn {
  padding: 20px 24px 24px 24px;
  width: 280px;
}
.css-n085mf {
  padding-left: 16px;
  padding-bottom: 16px;
}
.css-i3pbo {
  margin-bottom: 24px;
}

.css-l4enf1 {
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid var(--hoverBorder);
  padding-bottom: 0.25rem;
}

.css-3i8gv9 {
  display: flex;
  margin-bottom: 12px;
}

.css-1q7iryg {
  font-weight: 400;
  color: var(--black);
  font-size: 15px;
}

.css-1q7irygactive {
  color: var(--color2);
  /* background-color: var(--color2); */
}

.css-45z2th {
  border-bottom: 1px solid var(--hoverBorder);
}

.css-1mdgmi9 {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 16px;
  height: 60px;
  box-sizing: unset;
}

.css-1l5by7x {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto 0 auto;
  border-right: 1px solid var(--hoverBorder);
  background: var(--hoverColor);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

.css-u4p24i {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.css-xdc99y {
  background: var(--white);
  min-width: 5%;
  /* width: 100%; */
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.css-jn5ppe {
  height: 100%;
  width: 100%;
  padding-bottom: 36px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.css-194k3rb {
  max-width: 1200px;
  margin: auto;
}

.css-g1n4fp {
  background: var(--white);
  margin: 0 auto;
  padding: 40px 56px;
}

.css-14rkxji {
  color: var(--black);
  font-size: 1.9375rem;
  line-height: 1.2903226;
  letter-spacing: -0.021rem;
}

.css-152yx2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: -0.011rem;
}

.employee_details_box {
  height: 48px;
  display: flex;
}

.header_items {
  width: 20vh;
  text-align: start;
}

.input_area {
  align-items: flex-start;
  border-color: var(--black);
}

.css-rqrjmr {
  color: var(--black);
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.022em;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--hoverBorder);
}

.css-rqrjmrr {
  color: var(--black);
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.022em;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--hoverBorder);
}

.css-ngwsh7 {
  font-family: var(--fontFamily);
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.011em;
  display: block;
  margin-bottom: 1rem;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

@media (max-width: 420px) {
  .css-1w1veeg {
    height: 48px;
  }
  .css-z456g3 {
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: -0.011rem;
  }
  .css-1sm1hxh {
    font-size: 32px;
  }
  .css-1j30mgn {
    min-width: 0px;
  }
  .css-vxjceb {
    display: none;
  }
}
