@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;

@tailwind utilities;
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.preview h1 {
  box-sizing: border-box;
  color: var(--base-colour);
  font-family: var(--base-font-family);
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
  word-wrap: break-word;
  border-bottom: 1px solid #eaecef;
}

.preview p {
  margin-bottom: 16px;
}

.preview h2,
.preview h3 {
  box-sizing: border-box;
  color: var(--base-colour);
  font-family: var(--base-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
  padding-bottom: 0.3em;
  word-wrap: break-word;
  border-bottom: 1px solid #eaecef;
}

.preview a {
  box-sizing: border-box;
  color: #0366d6;
  cursor: pointer;
  font-family: var(--base-font-family);
  line-height: 24px;
  text-decoration: none;
  word-wrap: break-word;
}
